.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 8px;
  padding-top: 94px;
  padding-bottom: 50px;
  &__button {
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    padding: 6px 22px 6px 22px;
  }
}
