.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &--padding {
    padding-bottom: 0px;
  }
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
  }
  &--team {
    background-color: #f5f4fa;
  }
}
