$brandColor: #2196f3;
$primaryfontColor: #212121;
$secendaryfontColor: #ffffff;
$fontFamily: "Roboto";
$fontStyle: normal;
$transitionDuration: 250ms;
$transitionTiming: cubic-bezier(0.4, 0, 0.2, 1);
